.grid > div{
	max-height:40px;
}

.grid{
	display: grid;
	grid-row-gap: 5px;
	grid-column-gap: 5px;
	grid-template-columns: 500px;

	/* Play with: */
	/* justify-content:; */
	/* justify-items:;  */
	/* align-items:; */
	/* align-content:; */
 }

 


@media screen and (min-width: 776px){

	body{
		background-color: yellow;
	}

	.grid > div{
		max-height:none;
	}

	/* Make this a two column grid. */
	.grid{


		
		/* Play with: */
		/* justify-content:; */
		/* align-items:;  */


		
 	}

 	.item1{
 		 /* Span the entire first row  */
		
		  /* grid-column: ; */
 	}
	
	.item2{
		/* Start in row 2 and span 3 rows */
		/* grid-row:; */

	}

}
@media screen and (min-width: 1120px){
	body{
		background-color: green;
	}

	/* Make this a three column grid using fr. */
	.grid{

		/* Why don't we bother with justify here? */
	}
	.item3{
		/* Start in row 2 and span two rows 
		   Start in column 2 and span two columns */


		/* What happens if you try to span 3 columns */
	}

	
}
