.grid{
	display: grid;
	grid-row-gap: 5px;
	grid-column-gap: 5px;
	grid-template-columns: 1fr;
 }


@media screen and (min-width: 776px){
	.grid{
		
 	}

 	/* .item1{
 		 Span the entire row 
 	}
	*/

}
@media screen and (min-width: 1120px){
	.grid{
		
	}
	/*.item3{
		Span 3 rows and one column
	}*/

	/*.item1{
		Keep on the first row
	}*/
}
